@import "minxins";
@import "reset";
@import "fonts";


// Colores
$black-base: rgb(27, 27, 27);
$black-grey: rgb(41, 41, 41);
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background: white;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}
figure, img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  display: block;
}
a {
  color: grey;
  text-decoration: none;
  font-size: inherit;
}
.black {
    color: white;
}
.bg-black {
  background: $black-base;
}
.bg-white {
  background: white;
}
.bg-black-grey {
  background: $black-base;
}
.p-5 {
  padding: 5em 0;
}
.bash-effect::before {
  content: "";
  width: .25em;
  height: .8em;
  background: white;
  display: inline-block;
  margin-right: .25em;
  bottom: 0;
  animation: bashBlink .5s ease infinite;
  animation-direction: alternate-reverse;
}
@keyframes bashBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.container {
  display: grid;
  grid-template-columns: minmax(auto, 1280px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.container-fluid {
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.row {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  padding: 0 1em;
}
.container-fluid .row {
  padding: 0;
}
.sep-wave {
  background: white;
  margin-top: -100px;
}
.sep-wave-reverse {
  background: white;
  display:grid;
}
.sep-wave path, .sep-wave-reverse path  {
  fill: #1B1B1B !important;
}
.effect-word::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 1px solid grey;
  width: 120%;
}
header {
  position: fixed;
  top: 1em;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  width: 100%;
  z-index: 10;
  padding: 0.25em 0;
}
.is-sticky {
  top:0px;
  background: $black-base;
}
.is-sticky .nav-menu .link-word {
  color: #ffffff;
}
.hidde {
  top:-70px;
}
.logo {
  grid-column: 1 / span 8;
  text-align: left;
  font-size: 0.7em;
  color:white;
  padding: 0 1em;
}
.logo .about-link {
  cursor: pointer;
  transition: 0.5s ease-out;
  display: block;
  z-index: 11;
}
.logo .about-link:hover {
  color:grey;
}
.logo .about-link span {
  transition: 0.5s ease-out;
}
.logo .about-link.about-link-open span:nth-child(1),.logo .about-link span:nth-child(2)  {
  transform: translateX(0);
  position: relative;
  opacity: 1;
}
.logo .about-link span:nth-child(1) {
  transform: translateX(-50px);
  position: absolute;
  opacity: 0;
}
.logo .about-link.about-link-open span:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
  position: absolute
}

#menu {
  grid-column: 9 / span 4;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.5em;
}
.nav-icon {
  width: 24px;
  height: 20px;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.nav-icon span:nth-child(1) {
  top: 0px;
}
.nav-icon:hover span:nth-child(1) {
  top: -3px;
}

.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
  top: 6px;
}

.nav-icon span:nth-child(4) {
  top: 12px;
}
.nav-icon:hover span:nth-child(4) {
  top: 15px;
}

.nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  background: rgba(33, 33, 33, 0.95);
  transition: 0.5s ease-in-out;
  visibility: visible;
}

.nav-menu-display {
  background: transparent;
  visibility: hidden;
}
.nav-menu li {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease-in-out;
  top: 0;
  opacity: 1;
  position: relative;
  z-index: 1;
  width: 85%;
  margin: auto;
}
.nav-menu-display li {
  top: -15px;
  opacity: 0;
  z-index: -1;
}

.nav-menu .link-word {
  padding: 0.5em 0.5em;
  color: white;
  text-decoration: none;
  transition: 0.5s ease-out;
}
.nav-menu .link-word:hover {
  transform: translateX(-20px);
}

.nav-menu .link-word:hover.link-word::after {
  width: 100%;
}

.nav-menu .link-word::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 100%;
  border-bottom: 1px solid white;
  width: 0%;
  transition: 0.5s ease-in-out;
}



// Portada

.hero {
  background: $black-base;
  color: white;
  height: 820px;
  position: relative;
}
.hero .row {
  grid-auto-rows: 51% 10% 40%;
}
.hero .text-heading {
  grid-area: 1 / span 12;
  align-self: center;
  padding: 4em 7.5% 0;
}

.hero-animation {
  grid-area: 2 / span 12;
  position: relative;
  background-color: white;
  width: 100%;
  overflow: hidden;
}



.hero-animation .wave {
  background: url(img/wave.svg) repeat-x;
  position: absolute;
  top: -30px;
  width: 400%;
  height: 100%;
  animation: wave 5s linear infinite alternate;
}

.hero-animation .wave:nth-of-type(2) {
  animation: wave 5s 1s ease-in-out infinite alternate;
  opacity: 0.9;
}
.hero-animation .wave:nth-of-type(3) {
  animation: wave 5s 2s ease-in-out infinite alternate;
  opacity: 0.7;
}

@keyframes wave {
  0% {
    transform: translate(0px,0);
  }
  50% {
    transform: translate(-320px,30px);
  }
  100% {
    transform: translate(-630px,0px);
  }
}

.form-heading {
  p {
    text-align: center;
    font-size: 0.7em;
  }
  grid-area: 3 / span 12;
  padding: 0em 0.5em;
  background: white;
  color: $black-base;
  display:flex;
}

.hero .form-heading form {
  width: 90%;
  margin: auto;
}
.hero input, .hero select {
  width: 100%;
  display: block;
  outline:none;
  border:none;
  position: relative;
  padding: 0.3em 0.5em 0.3em 0.5em;
  box-sizing: border-box;
  font-size: 14px;
  top: 5px;
  height: 30px;
}
.hero .form-heading .placeholder {
  position: relative;
  vertical-align: middle;
  font-size: 0.7em;
}
.form-heading .border-form {
  position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
}

.form-heading .border-form::before, .form-heading .border-form::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  border: 3px solid $black-base;
  border-right: none;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}
.form-heading .border-form::after {
  left: 50%;
  border: 3px solid $black-base;
  border-left: none;
}
 .input input.filled + label .placeholder, .input select.filled + label .placeholder , .hero input:focus + label .placeholder {
  animation: placeholderMove 0.3s ease forwards;
}

.hero input:focus + .border-form::before {
  transform: translateX(-10%);
}
.hero input:focus + .border-form::after {
  transform: translateX(10%);
}

@keyframes placeholderMove {
  from {
    font-size: 0px;
    top: 0;
  }
  to {
    font-size: 0.5em;
    top:-30px;
  }
}

.form-heading .input {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  position: relative;
  margin: 1.5em 0;
}
.form-heading .button-form {
  background: $black-base;
  border: none;
  color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.5em 2em;
  letter-spacing: 2px;
  position: relative;
  cursor: pointer;
}
.form-heading .button-form::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: #212121;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .5s ease;
}
.form-heading .button-form:hover::before {
  width: 100%;
}
.form-heading .button-form::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3px;
  left: 3px;
  border: 2px solid $black-base;
}
.form-heading .button-form span {
  position: relative;
  z-index: 2;
}

// About me

.about {
  background: $black-base;
  position: fixed;
  top: 0;
  z-index: 9;
  overflow-y: scroll;
  height: 100%;
  transition: 1s ease;
  pointer-events: initial;
  visibility: visible;
}
.about .modal-content {
  transform: translateY(-100%);
  transition: 1s ease;
  margin-top: 3em;
  padding: 0 1em;
}

.about .modal-content-close {
  transform: translateY(0%);
}
.about-close {
  top: 100%;
  pointer-events: none;
  visibility: hidden;
}
.about .row {
  grid-gap: 20px 0px;
  grid-auto-rows: .1fr 1fr 1fr 1fr;
  align-self: center;
}

.about .nav-icon {
  display: block;
}

.about .tit-about {
  grid-area: 1/span 12;
  justify-self: start;
}
.about .picture {
  grid-area: 2/span 12;
  display: grid;
  grid-template-rows: 1fr .2fr;
  align-items: center;
}

.tit-about h2 {
  align-self: start;
}
.picture figure {
  max-width: 350px;
  justify-self: center;
  align-self: center;
}
.about .resumen {
  grid-area: 3 / span 12
}
.about .skills {
  grid-area: 4/span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skills h3 {
  grid-area: 1 / span 2;
}
.skills p {
  grid-area: 2 / span 2;
}
.skills .list-skills {
  justify-self: start;
  font-weight: 100;
}
.skills .list-skills ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin: 0.5em 0;
  font-size: 0.7em;
}

.social-icon {
  position: relative;
}
.social-icon a {
  color:white;
  cursor:pointer;
  padding: 0.25em;
}
.social-icon::before, .social-icon::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: unset;
  border-bottom: 1px solid grey;
  width: 20%;
}
.social-icon::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: unset;
  right: 0;
  border-bottom: 1px solid grey;
  width: 20%;
}

// Resumen

.resumen {
  background: $black-base;
}

.resumen .row {
  grid-gap: 20px;
  align-items: center;
}

.resumen .resumen-services {
  grid-area: 1 / span 12;
}
.resumen-buttons {
  grid-area: 2 / span 12;
}
.resumen .resumen-services h2,.resumen .resumen-services p {
  text-align: center;
}
.resumen .service-box {
  background: #fbfbfb;
  padding: 1em;
  border: 1px solid #eaeaea;
  transition: 1s ease;
  min-height: 360px;
}
.resumen .service-box::after {
  content: "";
  position: absolute;
  height: 3px;
  background: black;
  left: 50%;
  right: 50%;
  bottom: 0;
  transition: 1s ease;
}
.resumen .service-box:hover {
  box-shadow: 0px 0px 10px 3px #dadada;
  transform: translateY(-10px);
}
.resumen .service-box:hover::after {
  left: 0%;
  right: 0%;
}
.resumen .icon-service {
  max-width: 180px;
  height: auto;
  margin: auto;
}
.text-service h2, .text-service p {
  text-align: center;
}
.resumen .web-design {
  grid-area: 1 / span 12;
}
.resumen .in-mktg {
  grid-area: 2 / span 12;
}

.resumen .out-mktg {
  grid-area: 3 / span 12;
}
.btn {
  padding: 0.8em;
  cursor: pointer;
  font-size: 0.7em;
  margin: 1em;
  display: inline-block;
  width: 120px;
}
.btn-white {
  background: transparent;
  color: white;
  border: 2px solid white;
}
.btn-black {
  background: transparent;
  color: $black-base;
  border: 2px solid $black-base;
}

.btn i[class^=icon-], .btn i[class*=" icon-"] {
  opacity: 0;
  margin-left: -15px;
  transition: 0.5s ease;
}
.btn:hover i[class^=icon-], .btn:hover i[class*=" icon-"] {
  opacity: 1;
  margin-left: 5px;
}

/************

PORTFOLIO AREA

*************/


.portfolio {
  .btn {
    padding: 0.2em;
  }  
}

.portfolio h2 {
  grid-area: 1 / span 12;
  justify-self: center;
}
.portfolio .portfolio-element {
  padding: 0.5em 0;
  margin: 0;
  list-style: none;
  grid-area: 1/span 12;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}


/**
CREA LOS GRID AREA DE CADA ELEMENTO DEL PORTFOLIO CON UNA FILA DIFERENTE ASEGURADA grid-area:1/span 12 , grid-area:2/span 12 etc.
**/

@for $i from 0 through 5 {  
  .portfolio .portfolio-box:nth-child(#{$i}) {
    grid-area: #{$i}/span 2;
    }
}


.portfolio .portfolio-box article {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #1b1b1b;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 0px 0px #484848;
  transition: .5s ease;
}
.portfolio-box .img-portfolio {
  max-width: 100%;
  grid-area: 1/span 2;
  position: relative;
  z-index: 1;
}
.portfolio-box .title-portfolio {
  grid-area: 2/span 2;
  position: relative;
  color: white;
  z-index: 1;
}
.title-portfolio h3 {
  text-align: center;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.portfolio .button-portfolio {
  width: 100%;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  background: #2f2f2f;
}
.portfolio .button-portfolio.active {
  background: #000000;
}

.portfolio-box .text-portfolio {
  grid-area: 3/span 2;
  padding: 0 10%;
  position: relative;
  background: white;
  max-height: 0px;
  transition: .5s ease-in-out;
  visibility: hidden;
  p:nth-of-type(2){
    text-align: center;
  }
} 
.button-portfolio span {
  display: block;
  position: absolute;
  height: 2px;
  width: 5%;
  background: white;
  opacity: 1;
  left: calc(50% - 4.5%);
  top: 50%;
  transform: rotate(210deg);
  transition: 0.5s ease-in-out;
}
.portfolio .button-portfolio.active span {
  transform: rotate(150deg);
}
.portfolio .button-portfolio.active span:nth-of-type(2) {
  transform: rotate(150deg);
}
.button-portfolio span:nth-of-type(2) {
  right: calc(50% - 4.5%);
  left: unset;
  transform: rotate(150deg);
}
.portfolio .button-portfolio.active span:nth-of-type(2) {
  transform: rotate(210deg);
}

/**********

FOOTER

**************/

.footer {
  padding: 0.5em 0;
  background:#313131;
  
  .menu {
    grid-area: 1/span 12;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          a {
            color: white;
            font-size: 0.6em;
            padding: 0 0.2em;
          }
        }
    }
  }
   .copyright{
    grid-area: 2/span 12;
      p {
        text-align: center;
        margin: 5px 0;
        font-size: 0.6em;
      }
  }
  
  .social{
    grid-area: 3/span 12;
    a {
      color: white;
      font-size: 0.6em;
      padding: 0 0.2em;
    }
  }

}





@import "responsive";